# Capstone Project


## Introduction

Wow - it's been quite a ride. Just a few weeks ago most of you hadn't used Python, and now you're importing, cleaning up and exporting data like a pro! In this final lesson, we're going to give you a few challenges to perform to pull everything together. There will also be some time for more open Q&A and discussion around next steps. 


## Objectives
You will be able to:
* Import, examine, transform and save data from a variety of sources

## How are we Doing?

Lets start by taking a little bit of time to discuss how has the course gone? Take a few minutes to answer the following questions:
1. After the course, how specifically do you expect to use the skills you have learned during the course?
2. What skills that you have learned do you think will be particularly useful?
3. Are there any things we've covered that you do not think will be applicable? Which ones?
4. Are there any things you wish we would have had time to cover - and what would those things have allowed you to do at work that we've not provided you with the skills to work on?
5. What is one thing you could do in the next week that would start to use some of these skills to automate some of the work that you currently have to do manually?

Your instructor will facilitate the process of discussing your answers and providing feedback and thoughts on good next steps!

## Warm up #1 - csv import & exploration

Let's start with a fairly straightforward project. There is a file in this directory called `company-funding.csv`. It is is a listing of 1,460 company funding records reported by TechCrunch.

Start by reading the data into a dataframe, and examining it.

In [4]:
# Your code here
import pandas as pd
df = pd.read_csv('company-funding.csv')
df.head()

,permalink,company,numEmps,category,city,state,fundedDate,raisedAmt,raisedCurrency,round
0,lifelock,LifeLock,NaN,web,Tempe,AZ,1-May-07,6850000,USD,b
1,lifelock,LifeLock,NaN,web,Tempe,AZ,1-Oct-06,6000000,USD,a
2,lifelock,LifeLock,NaN,web,Tempe,AZ,1-Jan-08,25000000,USD,c
3,mycityfaces,MyCityFaces,7.0,web,Scottsdale,AZ,1-Jan-08,50000,USD,seed
4,flypaper,Flypaper,NaN,web,Phoenix,AZ,1-Feb-08,3000000,USD,a

OK, now answer the following questions *(write code in the boxes below, and fill out the "answer" comments)*:

In [5]:
# How many different currencies were funds raised in?
# Answer: 3
# What percentage of the raised were in USD?
# Answer: 1458/1460 = 99.86%

df["raisedCurrency"].describe()

count     1460
unique       3
top        USD
freq      1458
Name: raisedCurrency, dtype: object

In [6]:
# How many different states had at least one fund raising in this 
df["state"].describe()

count     1460
unique      33
top         CA
freq       873
Name: state, dtype: object

In [7]:
# What was the average amount raised?
# Answer: $10,131,487.5
df["raisedAmt"].mean()

10131487.5

In [10]:
# What was the median amount raised?
# Answer: $5,500,000.0
df["raisedAmt"].median()

5500000.0

In [ ]:
# What percentage of the raises were in New York (state)?
# Answer: 

# What was the average amount raised in New York?
# Answer: 

# What was the average amount raised in California?
# Answer:

In [ ]:
# What was the average seed round raised in California?
# Answer:

In [12]:
# What were all of the different values for the "round" column?
# Answer: a, b, c, angel, seed, d, unattributed, debt_round, e
df['round'].value_counts()

a               582
b               371
c               141
angel           135
seed            128
d                47
unattributed     28
debt_round       17
e                11
Name: round, dtype: int64

In [ ]:
# What is the aveage number of raises per company?
# Answer:

In [14]:
# Which company had the largest number of raises?
# Answer:

In [ ]:
# Which company raised the largest amount of money?
# Answer:

In [13]:
# Take all of the angel round deals and make them seed rounds from the dataframe
# Answer:

In [ ]:
# Remove all of the debt_rounds and unattributed rounds from the dataframe
# Answer:

In [ ]:
# In the modified dataframe, what percentage of the rounds left were "early stage" (seed or a)?
# Answer:

In [ ]:
# In the modified dataframe, what percentage of the dollars raised were "early stage" (seed or a)?
# Answer:

In [ ]:
# What is the aveage number of raises per company?
# Answer:

## Warm up #2 - working with free text

## Summary

Congratulations! Thanks so much for taking the time to improve your skills. This course won't answer all of your questions or provide all of the skills that you need. The number of tools out there and the speed at which technology changes makes that impractical. But hopefully you'll be able to use what you have learned as a starting point for future exploration and improvements! Thanks so much for your time!